<!-- about section starts here -->

<section class="container">
	
  <div>
  	<h2>About us</h2>
  	<br><br>
    <p>Thanks for visiting this page!<p>
    <p>We are a team of passionate bikers. Come and meet us!</p>


    <p><%= link_to 'Product of the day', product_path(@featured_product) if @featured_product %></p>
    <p><%= link_to 'Previous page', products_path %></p>
    <p><%= link_to 'Home page', static_pages_index_path %></p>
    <p><%= link_to 'About page', static_pages_about_path %></p>
    <p><%= link_to 'Products page', products_path %></p>
    <p><%= link_to 'Contact page', static_pages_contact_path %></p>


  </div><!-- end main-text -->

</section><!-- end about section -->

