<!DOCTYPE html>
<html>
  <head>
    <title>Bike Berlin</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>

  </head>

  <body>
  	<!-- navbar starts here -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation"> 
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse"
          data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="projectName navbar-brand">
              <a href="/static_pages/index">Bike Berlin</a>
          </div>  <!-- end projectName -->
        </div> <!--end navbar-header -->

        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/static_pages/index">Home</a></li>
            <li><a href="/static_pages/about">About</a></li>
            <li><a href="/products">Products</a></li>
            <li><a href="/static_pages/contact">Contact</a></li>
          </ul>
        </div>
      </div> <!-- end nav container --> 
    </nav> <!-- end navbar --> 

    <!-- Notice is for displaying the successful messages when clicking on edit and update a product -->
    <p id="notice"><%= notice %></p>

    <%= yield %>

  <footer class="navbar-fixed-bottom">
      <div class="col-md-12 down">
        <p>&copy Bike Berlin, 2016 &#124 <a href="https://twitter.com/xavsln" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false">Follow @xavsln</a> &#124 Facebook </p>
      </div><!-- END down -->

  </footer>

  </body>
</html>
