<!DOCTYPE html>
<html>
  <head>
    <title>Bike Berlin</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>

  </head>

  <body>
  	<!-- navbar starts here -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation"> 
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse"
          data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="projectName navbar-brand">
              <a href="/static_pages/landing_page">Bike Berlin</a>
          </div>  <!-- end projectName -->
        </div> <!--end navbar-header -->

        <div class="navbar-collapse collapse">
          <div class="navbar-form navbar-left">
            <div class="form-group">
              <%= form_tag("/products", method: "get") do %>
                <%= text_field_tag(:q) %>
                <%= submit_tag("Search") %>
              <% end %>    
            </div>
          </div>

          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Home", static_pages_landing_page_path %></li>
            <li><%= link_to "About", static_pages_about_path %></li>
            <li><%= link_to "Products", products_path %></li>
            <li><%= link_to "Contact", static_pages_contact_path %></li>
            <li>
            <% if user_signed_in? %>
              <%= link_to('| Logout', destroy_user_session_path, :method => :delete) %>
            <% else %>
              <%= link_to('| Login', new_user_session_path) %>
            <% end %>
            </li>
          </ul>
        </div>
      </div> <!-- end nav container --> 
    </nav> <!-- end navbar --> 

    <!-- Notice is for displaying the successful messages when clicking on edit and update a product -->
    <% if notice %>
    <p id="notice" class="alert alert-info"><%= notice %></p>
    <% end %>
    
    <% if alert %>
    <p id="alert" class="alert alert-info"><%= alert %></p>
    <% end %>
    

    <%= yield %>
   

  <footer class="navbar-fixed-bottom">
      <div class="col-md-12 down">
        <p>&copy Bike Berlin, 2016 &#124 <a href="https://twitter.com/xavsln" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false">Follow @xavsln</a> &#124 Facebook </p>
      </div><!-- END down -->

  </footer>

  </body>
</html>
